<div >
<div class="ui-grid ui-grid-responsive ui-grid-pad" >
<div class="first" style="background-color: #FFC900;"><h4 style="padding: 1%"><i class="fa fa-life-ring" aria-hidden="true"></i><b> Document Level Security</b></h4>
</div>
        <div class="ui-grid-row" >
        <div class="ui-grid-col-6">
            <h3 class="first">Personal Information</h3>
        </div>
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            Client Code
        </div>
    </div>
    <div class="ui-grid-row">
        
            <input pInputText size="40" type="text" [(ngModel)]="userDetail.clientCode"/>
        
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            MM-DD-YYYY
        </div>
    </div>
    <div class="ui-grid-row">
        
            <input pInputText size="40" type="text"  [(ngModel)]="userDetail.date" />
        
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            Batch#
        </div>
    </div>
    <div class="ui-grid-row">
        
            <input pInputText size="40" type="text"  [(ngModel)]="userDetail.batchNumber"  />
        
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            Batch Type
        </div>
    </div>
    <div class="ui-grid-row">
        
            <input pInputText size="40" type="text" [(ngModel)]="userDetail.batchType"/>
        
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            Status
        </div>
    </div>
    <div class="ui-grid-row">
        
            <input pInputText size="40" type="text"  [(ngModel)]="userDetail.status" />
        
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            Misc
        </div>
    </div>
    <div class="ui-grid-row">
        
            <input pInputText size="40" type="text"  [(ngModel)]="userDetail.misc" />
        
    </div>
</div>
</div>