<div >

<div class="first" style="background-color: #FFC900;"><h4 style="padding: 1%"><i class="fa fa-life-ring" aria-hidden="true"></i><b> User Access</b></h4>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">     
    <div class="ui-grid-row" style="padding-top:10px;">
        Specify what permissions you would like to give this user.
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6" style="font-size:18px;">
                       View Documents
            </div>
            <div class="ui-grid-col-2">
                <p-checkbox binary="true" [(ngModel)]="userDetail.viewDocuments"></p-checkbox>
                </div>
    </div>
    <div class="ui-grid-row">
    Allow this user to view documents stored in eBridge.
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6" style="font-size:18px;">
                       Import Documents
            </div>
            <div class="ui-grid-col-2">
                <p-checkbox binary="true"  [(ngModel)]="userDetail.importDocuments"></p-checkbox>
                </div>
    </div>
    <div class="ui-grid-row">
    Allow this user to import electronic documents and use the print driver.
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-6" style="font-size:18px;">
                       Delete Documents
            </div>
            <div class="ui-grid-col-2">
                <p-checkbox binary="true"  [(ngModel)]="userDetail.deleteDocuments"></p-checkbox>
                </div>
    </div>
    <div class="ui-grid-row">
    Allow this user to delete stored documents.
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-6" style="font-size:18px;">
                       Edit Indexes
            </div>
            <div class="ui-grid-col-2">
                <p-checkbox binary="true"  [(ngModel)]="userDetail.editIndexes"></p-checkbox>
                </div>
    </div>
    <div class="ui-grid-row">
    Allow this user to edit document index values and annotations.
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-6" style="font-size:18px;">
                       Scan Images
            </div>
            <div class="ui-grid-col-2">
                <p-checkbox binary="true"  [(ngModel)]="userDetail.scanImages"></p-checkbox>
                </div>
    </div>
    <div class="ui-grid-row">
    Allow this user to scan documents into eBridge
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-6" style="font-size:18px;">
                       Create Reports
            </div>
            <div class="ui-grid-col-2">
                <p-checkbox binary="true" [(ngModel)]="userDetail.createReports"></p-checkbox>
                </div>
    </div>
    <div class="ui-grid-row">
    Allow this user to create and access file cabinet reports.
    </div>

<div class="ui-grid-row">
        <div class="ui-grid-col-6" style="font-size:18px;">
                       Change/View Settings
            </div>
            <div class="ui-grid-col-2">
                <p-checkbox binary="true" [(ngModel)]="userDetail.changeOrViewSettings"></p-checkbox>
                </div>
    </div>
    <div class="ui-grid-row">
    Allow this user to change cabinet company and user settings
    </div>
</div>
</div>