<div class="first" style="background-color: #FFC900;"><h4 style="padding: 1%"><i class="fa fa-life-ring" aria-hidden="true"></i><b> User Information</b></h4>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
     <div class="ui-grid-row" style="padding-top:10px; padding-left:10px;">
Please provide the users first name, last name, email address, username and password all of which are required for the use of eBridge.
    </div>
    <div class="ui-grid-row" style="padding-top:10px;">
        <div class="ui-grid-col-6">
            <h3 class="first">Personal Information</h3>
            <div class="ui-grid-col-4">
                First Name
            </div>
            <div class="ui-grid-col-8">
                <input pInputText type="text" [(ngModel)]="userDetail.FirstName" />
            </div>
        </div>
        <div class="ui-grid-col-6">
            <h3 class="first">Login Credential</h3>
            <div class="ui-grid-col-4">
                User Name
            </div>
            <div class="ui-grid-col-8">
                <input pInputText type="text" [(ngModel)]="userDetail.userName"/>
            </div>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            <div class="ui-grid-col-4">
                Last Name
            </div>
            <div class="ui-grid-col-8">
                <input pInputText type="text"  [(ngModel)]="userDetail.LastName" />
            </div>
        </div>
        <div class="ui-grid-col-6">
            <div class="ui-grid-col-4">
                Password
            </div>
            <div class="ui-grid-col-8">
                <input type="password" pPassword [(ngModel)]="userDetail.password"/>
            </div>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            <div class="ui-grid-col-4">
                Email Address
            </div>
            <div class="ui-grid-col-8">
                <input pInputText type="text" [(ngModel)]="userDetail.emailAddress" />
            </div>
        </div>
        <div class="ui-grid-col-6">
            <div class="ui-grid-col-4">
                Confirm Password
            </div>
            <div class="ui-grid-col-8">
                <input type="password" pPassword [(ngModel)]="confirmPassword" />
            </div>
        </div>
    </div>
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            <h3 class="first">Login Options</h3>
            <div style="width:300px; margin-bottom:50px;">
                <div class="ui-grid-row">
                    <p-checkbox binary="true" label="User must change password at next logon" [(ngModel)]="userDetail.changePasswordAtLogOn"></p-checkbox>
                </div>
                <div class="ui-grid-row">
                    <p-checkbox binary="true" label="User must change password every 60 days" [(ngModel)]="userDetail.changePasswordAtSixtyDays"></p-checkbox>
                </div>
                <div class="ui-grid-row">
                    <p-checkbox binary="true" label="Enforce password history" [(ngModel)]="userDetail.enforcePasswordHistory"></p-checkbox>
                </div>
            </div>
        </div>

<div class="ui-grid-col-6">
            <h3 class="first">Time Zone</h3>
            <div class="ui-g" style="width:100%;margin-bottom:10px">
                <div class="ui-g-12">
                  <p-dropdown [options]="timeZones" [(ngModel)]="userDetail.timeZone"></p-dropdown>
                </div>
                
            </div>
        </div>
       


    </div>