<button pButton type="button" class="ui-button-success" (click)="saveUserDetail()">Save</button>
<p-tabView>
    <p-tabPanel header="User Information">
        <ds-admin-user-info *ngIf="userDetail" [userDetail]="userDetail"></ds-admin-user-info>
    </p-tabPanel>
    <p-tabPanel header="User Access">
        <ds-admin-user-access *ngIf="userDetail" [userDetail]="userDetail"></ds-admin-user-access>
    </p-tabPanel>
    <p-tabPanel header="Document Level Security">
        <ds-admin-user-level-security *ngIf="userDetail" [userDetail]="userDetail"></ds-admin-user-level-security>
    </p-tabPanel>
    <p-tabPanel header="Workflow">
        <ds-admin-user-workflow *ngIf="userDetail" [userDetail]="userDetail"></ds-admin-user-workflow>
    </p-tabPanel>
    <p-tabPanel header="Viewer Options">
        <ds-admin-user-viewer-option *ngIf="userDetail" [userDetail]="userDetail"></ds-admin-user-viewer-option>
    </p-tabPanel>
    <p-tabPanel header="Search Options">
        <ds-admin-user-search-option *ngIf="userDetail" [userDetail]="userDetail"></ds-admin-user-search-option>
    </p-tabPanel>
</p-tabView>