<div class="first" style="background-color: #FFC900;"><h4 style="padding: 1%"><i class="fa fa-life-ring" aria-hidden="true"></i><b> Wild Card Searching</b></h4>
</div>
<div class="ui-grid-row" style="padding-top:10px;padding-bottom: 10px;">
<b>Click this setting to enable the automatic wildcard feature in the eBridge Retrieval search.</b>

</div>
<div class="ui-grid-row">
   
</div>
<div class="ui-grid-row">
  <div style="padding-right: 7px;"> Wild Card <p-checkbox [(ngModel)]="userDetail.isWildCard" binary="true" style="padding:1%"></p-checkbox> 
  
       
The user will need to log off and back on for the setting to take place
    
  </div>
</div>
<div style="padding-top:20px;" >
<div class="ui-grid-row">
  
</div>
</div>



