<p-growl [value]="errorMessage"></p-growl>
<div>
  <div class="ui-grid ui-grid-responsive ui-grid-pad" style="padding:1%">
<div class="first" style="background-color: #FFC900;"><h4 style="padding: 1%"><i class="fa fa-life-ring" aria-hidden="true"></i><b> File Cabinate Indexes</b></h4>
</div>

<div class="ui-grid-col-2">
  <div class="ui-grid-col-12" style="margin-top :30px">
<button pButton type="text" (click)="addFileCabinate(true)" icon="fa-plus" label="Add"></button>
</div>
</div>
<div class="ui-grid-row" style="padding: 1%;" *ngFor="let cabinate of addNewCabinate;let i = index" >
<div>
  <div class="ui-grid-row"> <b>Index {{i+1}}</b></div>

  <div class="ui-grid-col-1"></div>

  <div class="ui-grid-col-3">
    <div class="ui-grid-col-12">
      <p>Index Name</p>
    </div>
    <div class="ui-grid-col-12">
      <input id="in" type="text" size="20" pInputText [(ngModel)]="cabinate.indexName" [style]="{'width':'50px'}" />
    </div>
  </div>

  <div class="ui-grid-col-8">
    <div class="ui-grid-col-12">
      <p>Index Type</p>
    </div>
    <div class="ui-grid-col-12">
      <p-dropdown [options]="indexType" [(ngModel)]="cabinate.indexType" placeholder="Select a Index Type" [style]="{'width':'174px'}"></p-dropdown>
    </div>
  </div>

  <div class="ui-grid-col-3">
    <div class="ui-grid-col-12">
      <p>Default Value</p>
    </div>
    <div class="ui-grid-col-12">
      <input id="in" type="text" size="20" pInputText [(ngModel)]="cabinate.defaultValue" />
    </div>
  </div>

  <div class="ui-grid-col-2" *ngIf="cabinate.indexType==1">
    <div class="ui-grid-col-12">
      <p>List Items</p>
    </div>
    <div class="ui-grid-col-12">
      <textarea rows="5" cols="20" pInputTextarea [(ngModel)]="cabinate.list"></textarea>
    </div>
  </div>
  <div class="ui-grid-col-1"></div>
</div>
</div>

<div class="ui-grid-row" style="margin-top: 50px">
<div class="ui-grid-col-1"></div>
<div class="ui-grid-col-1"></div>
</div>

<div class="ui-grid-row" style="margin-top: 50px" >
<div class="ui-grid-col-5"></div>
<div class="ui-grid-col-2" *ngIf="hideSaveButton==false" >
  <button pButton type="text" (click)="saveFileCabinate()" label="Save"></button>
</div>
<div class="ui-grid-col-5"></div>
</div>